/* Tablas con estilo moderno */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna y legible */
  background-color: #f4f4f8; /* Color de fondo suave (gris claro) */
  margin: 0; /* Elimina márgenes por defecto del navegador */
  padding: 0; /* Elimina relleno por defecto */
  color: #333; /* Color del texto principal (gris oscuro) */
}
header {
  background-color: #1e3a8a; /* Azul fuerte como color de fondo */
  color: white; /* Texto blanco */
  padding: 30px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
}

header h1 {
  margin: 0;
  font-size: 40px; /* Tamaño grande del título */
  letter-spacing: 1px; /* Espaciado entre letras */
}

header a {
  text-decoration: none; /* Quita el subrayado del enlace */
  color: white; /* Asegura que el enlace también sea blanco */
}
.logo-casa{
position: absolute;
top: 10px;
left: 20px;
width: 30px;
height: auto;
}
.puma-logo {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 150px; /* Podés ajustar el tamaño */
  height: auto;
}
.escudo-alemania{
  position: absolute;
  top: -10px;
  left: 50px;
  width: 130px; /* Podés ajustar el tamaño */
  height: auto;
}
img {
  display: block;
  margin: 0 auto 30px auto;
  max-width: 150px;
  transition: transform 0.3s ease;
}

/* Efecto hover en la imagen */
a > img:hover {
  transform: scale(1.1);}
/* Tabla con estilo moderno */
table {
  width: 50%;
  border-collapse: collapse;
  margin: 40px auto 40px auto;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

/* Cabecera */
thead th {
  background-color: #dc2626;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 12px 10px;
  text-transform: uppercase;
  font-size: 14px;
}

/* Celdas */
tbody td {
  padding: 12px 10px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

/* Filas alternadas */
tbody tr:nth-child(even) {
  background-color: #f4f7f9;
}

/* Hover fila */
tbody tr:hover {
  background-color: #e6f0ff;
}
 

footer {
  background-color: white; /* Azul fuerte */
  text-align: center; /* Centra el texto */
  padding: 15px; /* Espaciado interno */
  margin-top: 40px; /* Espacio arriba */
  font-size: 0.9rem; /* Texto un poco más chico */
}
.anuncio{
  margin: 0 auto;
  width: 400px;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
   align-items: center;
  justify-content: center;
}


